<footer>
	<div id="footer" class="footer">
		<div class="footer-one">
		</div>
		<div class="footer-two">
		<div class="social-media-icons">
			<a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square"></i></a>
			<a href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter-square"></i></a>	
			<a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
		</div>
		</div>
		<div class="footer-three">	
		<small style="color: #fff"><center>&copy Vincent Carter</center></small>	
		</div>
	</div>
</footer>